@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* html {
    font-family: "Gotham", system-ui, sans-serif;
  } */
  h1 {
    @apply text-6xl font-bold antialiased;
  }

  h2 {
    @apply text-5xl font-bold antialiased;
  }

  h3 {
    @apply text-4xl font-bold antialiased;
  }

  h4 {
    @apply text-3xl font-bold antialiased;
  }

  h5 {
    @apply text-2xl font-bold antialiased;
  }

  h6 {
    @apply text-xl font-semibold antialiased;
  }

  p {
    @apply text-base font-normal antialiased;
  }

  @font-face {
    font-family: "Gotham";
    src: url("./assets/fonts/Gotham-Book.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Gotham";
    src: url("./assets/fonts/Gotham-Medium.TTF") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Gotham";
    src: url("./assets/fonts/Gotham-Bold.TTF") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Gotham";
    src: url("./assets/fonts/Gotham-Black.TTF") format("truetype");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
  }
}

@layer components {
  /* .footer {
    @apply text-sm text-left;
  } */
   .btn-red {
    @apply text-white text-xs md:text-base bg-brand-secondary-dark hover:bg-brand-primary-dark rounded-full px-4 md:px-8 py-3 w-auto md:w-max
   }
   .form-container {
    @apply relative w-auto md:w-96 h-12
   }
   .form-input {
    @apply absolute top-0 left-0 w-full h-full border border-gray-300 outline-none p-5 transition-all ease-in
   }
   .form-input:hover {
    @apply border-brand-primary-dark
   }
   .form-input:focus {
     @apply border-brand-primary-dark
   }
   .form-label {
    @apply text-gray-700 absolute top-3 left-4 px-2 cursor-text pointer-events-none
   }
   .form-input:focus ~ .form-label, .form-input:not(:placeholder-shown).form-input:not(:focus) ~ .form-label {
    @apply transition-all duration-200 ease-in top-[-0.5rem] left-3 text-sm text-brand-primary-dark bg-white
   }
   .form-error {
    @apply absolute mt-12 text-sm text-brand-secondary-light text-left
   }
   .form-btn {
    @apply bg-brand-secondary-dark text-white uppercase w-auto md:w-96 h-12
   }
}

/* @layer utilities {
  .footer .p {
    font-size: 0.875rem;
  }
} */
